<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.densitydial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.main.densitydial.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.main.densitydial.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.main.densitydial.DisplayResults"
            android:label="@string/title_activity_display_results"
            android:parentActivityName="com.main.densitydial.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.densitydial.MainActivity" />
        </activity>
        <activity
            android:name="com.main.densitydial.SetCurrentVol"
            android:label="@string/title_activity_set_current_vol"
            android:parentActivityName="com.main.densitydial.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.densitydial.MainActivity" />
        </activity>
        <activity
            android:name="com.main.densitydial.LitreDensityLookup"
            android:label="@string/title_activity_litre_density_lookup"
            android:parentActivityName="com.main.densitydial.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.densitydial.MainActivity" />
        </activity>
    </application>

</manifest>
